<button [type]="type" class="ot-btn" [ngClass]="[
    'btn-' + variant,
    'btn-' + size,
    fullWidth ? 'btn-full' : ''
  ]" [disabled]="disabled || loading" (click)="clicked.emit($event)">

    @if (loading) {
    <i class="pi pi-spin pi-spinner"></i>
    } @else if (icon && iconPos === 'left') {
    <i [class]="'pi ' + icon"></i>
    }

    @if (label) {
    <span>{{ label }}</span>
    }
    <ng-content />

    @if (!loading && icon && iconPos === 'right') {
    <i [class]="'pi ' + icon"></i>
    }
</button>