<button 
  [type]="type()" 
  [class]="computedClasses()"
  [disabled]="disabled() || loading()" 
  [attr.aria-label]="loading() ? 'Cargando' : label() || 'Botón'"
  [attr.aria-busy]="loading()"
  (click)="clicked.emit($event)">

    @if (loading()) {
    <i class="pi pi-spin pi-spinner" aria-hidden="true"></i>
    } @else if (icon() && iconPos() === 'left') {
    <i [class]="'pi ' + icon()" aria-hidden="true"></i>
    }

    @if (label()) {
    <span>{{ label() }}</span>
    }
    <ng-content />

    @if (!loading() && icon() && iconPos() === 'right') {
    <i [class]="'pi ' + icon()" aria-hidden="true"></i>
    }
</button>