<p-table [value]="categories" [loading]="loading" [paginator]="true" [rows]="tableConfig.defaultRows"
    [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="lazyLoad.emit($event)" [rowHover]="true"
    styleClass="p-datatable-sm">

    <ng-template pTemplate="caption">
        <div class="table-header-container">
            <h5 class="table-header-title">{{ content.quickSearchTitle }}</h5>
            <span class="p-input-icon-left search-input-wrapper">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onSearch($event)" [placeholder]="content.searchPlaceholder" class="filter-search-input"/>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>{{ content.headers.name }}</th>
            <th>{{ content.headers.parent }}</th>
            <th [style.width]="tableConfig.actionsWidth">{{ content.headers.actions }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cat>
        <tr>
            <td><span class="cat-name">{{ cat.categoryName }}</span></td>
            <td>
                @if (cat.parentCategoryName) {
                <app-badge variant="blue">{{ cat.parentCategoryName }}</app-badge>
                } @else {
                <span class="no-parent">{{ content.rootCategoryLabel }}</span>
                }
            </td>
            <td>
                <div class="row-actions">
                    <button class="act-btn" [pTooltip]="content.tooltips.edit" (click)="editItem.emit(cat)">
                        <i [class]="content.icons.edit"></i>
                    </button>
                    <button class="act-btn act-btn--danger" [pTooltip]="content.tooltips.delete"
                        (click)="deleteItem.emit(cat)">
                        <i [class]="content.icons.delete"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="tableConfig.colspanEmpty" class="table-empty-state">
                <i class="pi pi-inbox table-empty-icon"></i>
                <p class="table-empty-text">{{ content.emptyMessage }}</p>
            </td>
        </tr>
    </ng-template>

</p-table>