<p-table [value]="categories" [loading]="loading" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
    [lazy]="true" (onLazyLoad)="lazyLoad.emit($event)" [rowHover]="true" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Categoría padre</th>
            <th style="width:100px">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cat>
        <tr>
            <td><span class="cat-name">{{ cat.categoryName }}</span></td>
            <td>
                @if (cat.parentCategoryName) {
                <app-badge variant="blue">{{ cat.parentCategoryName }}</app-badge>
                } @else {
                <span class="no-parent">Categoría raíz</span>
                }
            </td>
            <td>
                <div class="row-actions">
                    <button class="act-btn" pTooltip="Editar" (click)="editItem.emit(cat)"><i
                            class="pi pi-pencil"></i></button>
                    <button class="act-btn act-btn--danger" pTooltip="Eliminar" (click)="deleteItem.emit(cat)"><i
                            class="pi pi-trash"></i></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3" class="empty-cell">No hay categorías registradas.</td>
        </tr>
    </ng-template>
</p-table>