<p-table [value]="shipments" [loading]="loading" [paginator]="true" [rows]="tableConfig.defaultRows"
    [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="lazyLoad.emit($event)" [rowHover]="true"
    [styleClass]="tableConfig.styleClass">

    <ng-template pTemplate="header">
        <tr>
            <th>{{ content.headers.orderId }}</th>
            <th>{{ content.headers.method }}</th>
            <th>{{ content.headers.tracking }}</th>
            <th>{{ content.headers.cost }}</th>
            <th>{{ content.headers.arrival }}</th>
            <th>{{ content.headers.status }}</th>
            <th [style.width]="tableConfig.actionsWidth">{{ content.headers.actions }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-s>
        <tr>
            <td>
                <span class="order-id">
                    {{ s.idOrder | slice: tableConfig.sliceStart : tableConfig.sliceEnd }}
                </span>
            </td>
            <td>{{ s.shipmentMethodName }}</td>
            <td>{{ s.trackingNumber }}</td>
            <td>{{ s.shippingCost | currency: tableConfig.currencyCode }}</td>
            <td>{{ s.estimatedArrival | date: content.dateFormat }}</td>
            <td>
                <span class="status-badge" [class]="s.status | lowercase">
                    {{ s.status | titlecase }}
                </span>
            </td>
            <td>
                <div class="row-actions">
                    <button class="act-btn" [pTooltip]="content.tooltipEdit" (click)="editItem.emit(s)">
                        <i [class]="content.icons.edit"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="tableConfig.colspanEmpty" class="empty-cell">
                {{ content.emptyMessage }}
            </td>
        </tr>
    </ng-template>

</p-table>