<p-table [value]="users" [loading]="loading" [paginator]="true" [rows]="tableConfig.defaultRows"
    [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="lazyLoad.emit($event)" [rowHover]="true"
    styleClass="p-datatable-sm">

    <ng-template pTemplate="header">
        <tr>
            <th>{{ content.headers.fullName }}</th>
            <th>{{ content.headers.email }}</th>
            <th>{{ content.headers.role }}</th>
            <th>{{ content.headers.phone }}</th>
            <th>{{ content.headers.regDate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <td><span class="user-name">{{ user.firstName }} {{ user.lastName }}</span></td>
            <td>{{ user.email }}</td>
            <td>
                <span class="role-badge" [class.admin]="user.role === tableConfig.adminRoleKey">
                    {{ user.role | titlecase }}
                </span>
            </td>
            <td>{{ user.phone || content.notRegisteredLabel }}</td>
            <td>{{ user.createdAt | date: content.dateFormat }}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="tableConfig.colspanEmpty" class="empty-cell">
                {{ content.emptyMessage }}
            </td>
        </tr>
    </ng-template>

</p-table>