<p-table [value]="products" [loading]="loading" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords"
    [lazy]="true" (onLazyLoad)="lazyLoad.emit($event)" [rowHover]="true" [styleClass]="tableConfig.styleClass"
    [tableStyle]="{ 'min-width': tableConfig.tableMinWidth }">

    <ng-template pTemplate="header">
        <tr>
            <th style="width:56px">{{ content.headers.img }}</th>
            <th>{{ content.headers.product }}</th>
            <th style="width:110px">{{ content.headers.sku }}</th>
            <th>{{ content.headers.category }}</th>
            <th>{{ content.headers.brand }}</th>
            <th style="width:110px">{{ content.headers.price }}</th>
            <th style="width:80px">{{ content.headers.stock }}</th>
            <th style="width:110px">{{ content.headers.actions }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-p>
        <tr>
            <td>
                <div class="thumb">
                    @if (p.images?.[0]?.imageUrl) {
                    <img [src]="p.images[0].imageUrl" [alt]="p.productName" />
                    } @else {
                    <i class="pi pi-image"></i>
                    }
                </div>
            </td>
            <td><span class="p-name">{{ p.productName }}</span></td>
            <td><code class="sku">{{ p.sku }}</code></td>
            <td>{{ p.categoryName }}</td>
            <td>{{ p.brandName }}</td>
            <td class="price">{{ p.price | currencyPen }}</td>
            <td>
                <app-badge [variant]="p.stockQuantity > 0 ? tableConfig.badgeSuccess : tableConfig.badgeError">
                    {{ p.stockQuantity }}
                </app-badge>
            </td>
            <td>
                <div class="row-actions">
                    <button class="act-btn" [pTooltip]="content.tooltips.images" (click)="manageImages.emit(p)">
                        <i [class]="content.icons.images"></i>
                    </button>
                    <button class="act-btn" [pTooltip]="content.tooltips.edit" (click)="editItem.emit(p)">
                        <i [class]="content.icons.edit"></i>
                    </button>
                    <button class="act-btn act-btn--danger" [pTooltip]="content.tooltips.delete"
                        (click)="deleteItem.emit(p)">
                        <i [class]="content.icons.delete"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="tableConfig.colspanEmpty" class="empty-cell">
                {{ content.emptyMessage }}
            </td>
        </tr>
    </ng-template>

</p-table>