<div class="summary-card">
  <h3 class="summary-title">{{ t().cart.summary.title }}</h3>

  <div class="summary-rows">
    <div class="summary-row">
      <span>
        {{ t().cart.summary.subtotalLabel }} ({{ itemCount }} {{ itemCount === 1 ? t().cart.summary.singularProduct :
        t().cart.summary.pluralProduct }})
      </span>
      <span>{{ totalAmount | currencyPen }}</span>
    </div>

    <div class="summary-row">
      <span>{{ t().cart.summary.shippingLabel }}</span>
      <span class="shipping-cost">{{ t().cart.summary.calculatingLabel }}</span>
    </div>
  </div>

  <div class="summary-total">
    <span>{{ t().cart.summary.totalLabel }}</span>
    <span class="total-amount">{{ totalAmount | currencyPen }}</span>
  </div>

  <app-button variant="accent" size="lg" [label]="t().cart.summary.checkoutBtnLabel" icon="pi-lock"
    [fullWidth]="true" (clicked)="checkout.emit()" />

  <a routerLink="/catalog" class="continue-shopping">
    <i class="pi pi-arrow-left"></i> {{ t().cart.summary.continueShoppingText }}
  </a>

  <div class="payment-methods">
    <span>{{ t().cart.summary.paymentMethodsTitle }}</span>
    <div class="methods-grid">
      @for (method of paymentMethods; track method.idPaymentMethod) {
      <span class="method-chip">{{ method.methodName }}</span>
      }
    </div>
  </div>
</div>