<aside class="admin-sidebar" [class.sidebar-collapsed]="collapsed()">

    <div class="sidebar-header">
        <a [routerLink]="content.dashboardRoute" class="sidebar-logo">
            @if (!collapsed()) {
            <span class="logo-one">One</span><span class="logo-tech">Tech</span>
            <span class="logo-tag">{{ content.logoTag }}</span>
            } @else {
            <span class="logo-tech">{{ content.logoCollapsed }}</span>
            }
        </a>


        <button class="collapse-btn" (click)="toggleCollapse()"
            [attr.aria-label]="collapsed() ? content.ariaLabels.expand : content.ariaLabels.collapse">
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <nav class="sidebar-nav" [attr.aria-label]="content.ariaLabelNav">
        <ul>
            @for (item of navItems; track item.route) {
            <li>
                <a [routerLink]="item.route" routerLinkActive="nav-active" class="nav-item"
                    [attr.title]="collapsed() ? item.label : null">
                    <i class="pi nav-icon" [ngClass]="item.icon"></i>
                    @if (!collapsed()) {
                    <span class="nav-label">{{ item.label }}</span>
                    }
                </a>
            </li>
            }
        </ul>
    </nav>


</aside>