<nav class="navbar-navigation" [attr.aria-label]="content.ariaLabelNav">
    <ul class="nav-menu-list">

        @for (item of categories(); track item.label) {
        <li class="menu-item-node"
            [class.menu-item-node--has-subs]="item.subcategories && item.subcategories.length > 0">

            <a [routerLink]="item.route" [queryParams]="item.queryParams" routerLinkActive="menu-link-active"
                [class.menu-link-accent]="item.accent" class="menu-root-link">
                {{ item.label }}
                @if (item.subcategories && item.subcategories.length > 0) {
                <i class="pi pi-angle-down arrow-sub-icon"></i>
                }
            </a>

            @if (item.subcategories && item.subcategories.length > 0) {
            <ul class="dropdown-submenu animate-fade-in">
                @for (sub of item.subcategories; track sub.label) {
                <li class="submenu-item-node">
                    <a [routerLink]="sub.route" [queryParams]="sub.queryParams" routerLinkActive="submenu-link-active"
                        class="menu-sub-link">
                        {{ sub.label }}
                    </a>
                </li>
                }
            </ul>
            }

        </li>
        }

    </ul>
</nav>