<ul class="nav-menu" role="menubar">
    @for (cat of categories(); track cat.label) {
    <li role="none" class="nav-item" [ngClass]="{ 'has-submenu': cat.subcategories && cat.subcategories.length > 0 }">
        <a [routerLink]="cat.route" [queryParams]="cat.queryParams" class="nav-link"
           [ngClass]="{ 'nav-link--accent': cat.accent }" role="menuitem">
            <span class="nav-label">{{ cat.label }}</span>
            @if (cat.subcategories && cat.subcategories.length > 0) {
                <i class="pi pi-chevron-down submenu-icon"></i>
            }
        </a>
        
        @if (cat.subcategories && cat.subcategories.length > 0) {
            <ul class="submenu" role="menu">
                @for (sub of cat.subcategories; track sub.label) {
                    <li role="none">
                        <a [routerLink]="sub.route" [queryParams]="sub.queryParams" class="submenu-link" role="menuitem">
                            {{ sub.label }}
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
    }
</ul>