<div class="profile-section">
  <div class="section-header">
      <div>
          <h3>{{ content.title }}</h3>
          <p>{{ content.subtitle }}</p>
      </div>
      <app-button variant="outline" size="sm" [label]="content.newBtnLabel" [icon]="content.newBtnIcon"
          (clicked)="showForm.set(true)" />
  </div>

  @if (!showForm()) {
    <app-address-list
      [addresses]="addresses()"
      [content]="content"
      (onDelete)="onDelete($event)">
    </app-address-list>
  } @else {
    <app-address-form
      [content]="content"
      [saving]="saving()"
      (onCancel)="showForm.set(false)"
      (onSave)="onSave($event)">
    </app-address-form>
  }
</div>