<div class="ot-field" [class.ot-field--invalid]="isInvalid()">
  @if (label()) {
    <label [for]="id()" class="ot-field__label">{{ label() }}</label>
  }
  <p-password
    [inputId]="id()"
    [formControl]="$any(control())"
    [placeholder]="placeholder()"
    [feedback]="showStrengthMeter()"
    [toggleMask]="true"
    [disabled]="disabled()"
    styleClass="w-full [&::ng-deep_.p-password]:!w-full [&::ng-deep_.p-password-input]:!w-full"
    [class.![&::ng-deep_.p-password-input]:border-red-500]="isInvalid()"
    [class.![&::ng-deep_.p-password-input]:bg-red-50]="isInvalid()"
    [class.dark:![&::ng-deep_.p-password-input]:bg-red-950/30]="isInvalid()"
    [class.ng-invalid]="isInvalid()"
    [class.ng-dirty]="isInvalid()"
    [attr.aria-invalid]="isInvalid() ? 'true' : null"
    [attr.aria-describedby]="isInvalid() ? id() + '-error' : hint() ? id() + '-hint' : null"
  />
  @if (isInvalid()) {
    <span [id]="id() + '-error'" class="ot-field__error" role="alert">
      <i class="pi pi-exclamation-circle" aria-hidden="true"></i>
      {{ errorMessage() }}
    </span>
  } @else if (hint()) {
    <span [id]="id() + '-hint'" class="ot-field__hint">{{ hint() }}</span>
  }
</div>
